@model Ach.Fulfillment.Web.Areas.Manage.Models.UserModel

@{
    ViewBag.Title = "Edit User";
}

@using (Html.BeginForm("Edit", "User", new {area = "Manage"})) {
    <fieldset>
        <legend>Edit User</legend>

        @Html.Partial("_userDetails", this.Model)

        <p>
            <input type="submit" value="Update" />
            @Html.ActionLink("Back to List", "List", "User")
        </p>
    </fieldset>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
