<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging, Version=2.1.1.0, Culture=neutral, PublicKeyToken=af08829b84f0328e"/>
    </sectionGroup>
  </configSections>

  <connectionStrings/>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net1211, Version=2.1.1.0, Culture=neutral, PublicKeyToken=af08829b84f0328e">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <unity>
    <containers>
      <container>
        <extensions>
          <add type="Ach.Fulfillment.Initialization.Configuration.InitializationContainerExtension, Ach.Fulfillment.Initialization" />
        </extensions>
      </container>
    </containers>
  </unity>

  <log4net xmlns="urn:log4net" xmlns:xsi="urn:log4net">

    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="TraceAppender" />
    </root>
  </log4net>
  
  
</configuration>