<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <log4net>
        <root>
            <level value="INFO" xdt:Transform="SetAttributes" />
            <appender-ref xdt:Transform="RemoveAll"/>
            <appender-ref ref="RollingFileAppender" xdt:Transform="Insert"/>
            <appender-ref ref="EventLogAppender" xdt:Transform="Insert"/>
        </root>
    </log4net>
</configuration>