<?xml version="1.0" encoding="UTF-8"?>

<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">

  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

  <schedule>

    <job>
        <name>sampleJob</name>
        <group>sampleGroup</group>
        <description>Sample job for Quartz Server</description>
        <job-type>Ach.Fulfillment.Scheduler.Jobs.SampleJob, Ach.Fulfillment.Scheduler</job-type>
        <durable>true</durable>
        <recover>false</recover>
    </job>

    <job>
      <name>GenerateAchFilesJob</name>
      <group>AchFulfillmentGroup</group>
      <description>Generate AchFiles Job</description>
      <job-type>Ach.Fulfillment.Scheduler.Jobs.GenerateAchFilesJob, Ach.Fulfillment.Scheduler</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>AchFilesStore</key>
          <value>D:\</value>
        </entry>
      </job-data-map>
    </job>
    
    <!--<trigger>
      <simple>
        <name>sampleSimpleTrigger</name>
        <group>sampleSimpleGroup</group>
        <description>Simple trigger to simply fire sample job</description>
        <job-name>sampleJob</job-name>
        <job-group>sampleGroup</job-group>
        <misfire-instruction>SmartPolicy</misfire-instruction>
        <repeat-count>-1</repeat-count>
        <repeat-interval>10000</repeat-interval>
      </simple>
    </trigger>-->

    <trigger>
      <!--<simple>
        <name>AchFilesTrigger</name>
        <group>AchFulfillmentGroup</group>
        <description>AchFiles trigger to fire GenerateAchFilesJob</description>
        <job-name>GenerateAchFilesJob</job-name>
        <job-group>AchFulfillmentGroup</job-group>
        <misfire-instruction>SmartPolicy</misfire-instruction>
        <repeat-count>5</repeat-count>
        <repeat-interval>300000</repeat-interval>
      </simple>-->
      <cron>
        <name>AchFilesTrigger</name>
        <group>AchFulfillmentGroup</group>
        <description>AchFiles trigger to fire GenerateAchFilesJob</description>
        <job-name>GenerateAchFilesJob</job-name>
        <job-group>AchFulfillmentGroup</job-group>
        --><!--every 5 minutes--><!--  
        --><!--<cron-expression>*/5 * * * *</cron-expression>--><!--
        --><!--Every 2 hours at :30--> 
        <cron-expression>30 0/2 * * ? *</cron-expression>
      </cron>
    </trigger>
    
  </schedule>
  
</job-scheduling-data>