<?xml version="1.0" encoding="UTF-8"?>

<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">

    <processing-directives>
        <overwrite-existing-data>true</overwrite-existing-data>
    </processing-directives>

    <schedule>

        <job>
            <name>Group</name>
            <job-type>Ach.Fulfillment.Scheduler.Jobs.GroupAchTransactionsJob, Ach.Fulfillment.Scheduler</job-type>
        </job>
        
        <job>
            <name>Generate</name>
            <job-type>Ach.Fulfillment.Scheduler.Jobs.GenerateAchFilesJob, Ach.Fulfillment.Scheduler</job-type>
        </job>

        <job>
            <name>Upload</name>
            <job-type>Ach.Fulfillment.Scheduler.Jobs.UploadAchFiles, Ach.Fulfillment.Scheduler</job-type>
            <job-data-map>
                <entry>
                    <key>FtpHost</key>
                    <value>localhost</value>
                </entry>
                <entry>
                    <key>UserId</key>
                    <value>achuser</value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>achpass</value>
                </entry>
            </job-data-map>
        </job>

        <job>
            <name>CheckStatus</name>
            <job-type>Ach.Fulfillment.Scheduler.Jobs.CheckStatusFilesJob, Ach.Fulfillment.Scheduler</job-type>
        </job>

        <job>
            <name>Notify</name>
            <job-type>Ach.Fulfillment.Scheduler.Jobs.CallbackNotificationJob, Ach.Fulfillment.Scheduler</job-type>
        </job>

        <job>
            <name>Cleanup</name>
            <job-type>Ach.Fulfillment.Scheduler.Jobs.CleanupJob, Ach.Fulfillment.Scheduler</job-type>
        </job>

        <!--
            http://quartznet.sourceforge.net/tutorial/lesson_6.html
            
            1. Seconds
            2. Minutes
            3. Hours
            4. Day-of-Month
            5. Month
            6. Day-of-Week
            7. Year (optional field)

            example: 
                every 5 minutes = 0 0/5 * * * ?
        -->
        
        <trigger>
            <cron>
                <name>Group</name>
                <job-name>Group</job-name>
                <cron-expression>0/30 * * * * ?</cron-expression>
            </cron>
        </trigger>

        <trigger>
            <cron>
                <name>Generate</name>
                <job-name>Generate</job-name>
                <cron-expression>0/30 * * * * ?</cron-expression>
            </cron>
        </trigger>

        <trigger>
            <cron>
                <name>Upload</name>
                <job-name>Upload</job-name>
                <cron-expression>0/30 * * * * ?</cron-expression>
            </cron>
        </trigger>

        <trigger>
            <cron>
                <name>CheckStatus</name>
                <job-name>CheckStatus</job-name>
                <cron-expression>0/30 * * * * ?</cron-expression>
            </cron>
        </trigger>

        <trigger>
            <cron>
                <name>Notify</name>
                <job-name>Notify</job-name>
                <misfire-instruction>DoNothing</misfire-instruction>
                <cron-expression>0/30 * * * * ?</cron-expression>
            </cron>
        </trigger>

        <trigger>
            <cron>
                <name>Cleanup</name>
                <job-name>Cleanup</job-name>
                <cron-expression>0 0/1 * * * ?</cron-expression>
            </cron>
        </trigger>

    </schedule>

</job-scheduling-data>