<?xml version="1.0" encoding="UTF-8"?>

<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">

  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

  <schedule>

    <job>
      <name>GenerateAchFilesJob</name>
      <group>AchTransactionGroup</group>
      <description>Generate achfiles Job</description>
      <job-type>Ach.Fulfillment.Scheduler.Jobs.GenerateAchFilesJob, Ach.Fulfillment.Scheduler</job-type>
      <job-data-map>
        <entry>
          <key>NEXT_JOB</key>
          <value>UploadAchFilesJob</value>
        </entry>
      </job-data-map>
    </job>

    <job>
      <name>UploadAchFilesJob</name>
      <group>AchTransactionGroup</group>
      <description>Upload achfiles job</description>
      <job-type>Ach.Fulfillment.Scheduler.Jobs.UploadAchFiles, Ach.Fulfillment.Scheduler</job-type>
      <job-data-map>
        <entry>
          <key>NEXT_JOB</key>
          <value>CheckStatusFilesJob</value>
        </entry>
        <entry>
          <key>FtpHost</key>
          <value>localhost</value>
        </entry>
        <entry>
          <key>UserId</key>
          <value>achuser</value>
        </entry>
        <entry>
          <key>Password</key>
          <value>achpass</value>
        </entry>
      </job-data-map>
    </job>
    
    <job>
      <name>CheckStatusFilesJob</name>
      <group>AchTransactionGroup</group>
      <description>Check statusfiles Job</description>
      <job-type>Ach.Fulfillment.Scheduler.Jobs.CheckStatusFilesJob, Ach.Fulfillment.Scheduler</job-type>
      <job-data-map>
        <entry>
          <key>NEXT_JOB</key>
          <value>CleanUpJob</value>
        </entry>
      </job-data-map>
    </job>

    <job>
      <name>CleanupJob</name>
      <group>AchTransactionGroup</group>
      <description>Cleanup job</description>
      <job-type>Ach.Fulfillment.Scheduler.Jobs.CleanupJob, Ach.Fulfillment.Scheduler</job-type>
    </job>


    
    <trigger>
      <simple>
        <name>GenerateAchFilesTrigger</name>
        <group>AchTransactionGroup</group>
        <description>AchFiles trigger to fire GenerateAchFilesJob</description>
        <job-name>GenerateAchFilesJob</job-name>
        <job-group>AchTransactionGroup</job-group>
        <misfire-instruction>SmartPolicy</misfire-instruction>
        <repeat-count>5</repeat-count>
        <repeat-interval>300000</repeat-interval>
      </simple>
      <!--<cron>
          <name>AchFilesTrigger</name>
          <group>AchFulfillmentGroup</group>
          <description>AchFiles trigger to fire GenerateAchFilesJob</description>
          <job-name>GenerateAchFilesJob</job-name>
          <job-group>AchFulfillmentGroup</job-group>
          <cron-expression>30 0/2 * * ? *</cron-expression>
        </cron>-->
      <!--every 5 minutes-->
      <!--<cron-expression>*/5 * * * *</cron-expression>-->
      <!--Every 2 hours at :30-->
    </trigger>

    <trigger>
      <simple>
        <name>UploadAchFilesTrigger</name>
        <group>AchTransactionGroup</group>
        <description>UploadAchFiles trigger</description>
        <job-name>UploadAchFilesJob</job-name>
        <job-group>AchTransactionGroup</job-group>
        <misfire-instruction>SmartPolicy</misfire-instruction>
        <repeat-count>-1</repeat-count>
        <repeat-interval>10000</repeat-interval>
      </simple>
    </trigger>
    
    <trigger>
      <simple>
        <name>CheckStatusFilesTrigger</name>
        <group>AchTransactionGroup</group>
        <description>CheckStatusFiles trigger</description>
        <job-name>CheckStatusFilesJob</job-name>
        <job-group>AchTransactionGroup</job-group>
        <misfire-instruction>SmartPolicy</misfire-instruction>
        <repeat-count>-1</repeat-count>
        <repeat-interval>10000</repeat-interval>
      </simple>
    </trigger>

    <trigger>
      <simple>
        <name>CleanUpTrigger</name>
        <group>AchTransactionGroup</group>
        <description>CleanUp trigger</description>
        <job-name>CleanupJob</job-name>
        <job-group>AchTransactionGroup</job-group>
        <misfire-instruction>SmartPolicy</misfire-instruction>
        <repeat-count>-1</repeat-count>
        <repeat-interval>10000</repeat-interval>
      </simple>
    </trigger>
  
  </schedule>
  
</job-scheduling-data>