<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ach.Fulfillment.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Ach.Fulfillment.Business.Properties.Settings>
            <setting name="RemoteAccessManagerType" serializeAs="String">
                <value>fs</value>
            </setting>
            <setting name="SFTPHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="SFTPPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="SFTPLogin" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="FsLocalPath" serializeAs="String">
                <value>.\Nacha\</value>
            </setting>
            <setting name="SFTPWorkingDirectory" serializeAs="String">
                <value>.</value>
            </setting>
        </Ach.Fulfillment.Business.Properties.Settings>
    </applicationSettings>
</configuration>