@{
    ViewBag.Title = "Ach Fulfillment home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                Fill free to add any necessary content here
            </p>
        </div>
    </section>
}
