@if (Request.IsAuthenticated) {
    <p>
        Hello, @User.Identity.Name ! @*@Html.ActionLink(User.Identity.Name, "ChangePassword", "Home", new { area = "Main" }, new { @class = "username", title = "Change password" })!*@
        @Html.ActionLink("Log off", "LogOff", "Home", new { area = "Main" }, null)
    </p>
} else {
    <ul>
        @*<li>@Html.ActionLink("Register", "Create", "User", new {area = "Manage"}, new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Home", new {area = "Main"}, new { id = "loginLink" })</li>
    </ul>
}