@model Ach.Fulfillment.Web.Areas.Manage.Models.PartnerModel

@{
    ViewBag.Title = "Edit Partner";
}

@using (Html.BeginForm("Edit", "Partner", new { area = "Manage" }))
{
    <fieldset>
        <legend>Edit Partner</legend>

        @Html.Partial("_partnerDetails", this.Model)
        
        <div class="btn-toolbar">
            <div class="btn-group">
                <input type="submit" value="Update" class="btn btn-large" />
                @Html.ActionLink("Back to List", "List", "Partner", new { @class = "btn btn-large" })
             </div>
        </div>
    </fieldset>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
